<section class="we-want-question-section main-himan-grade-et-feed-section"  style="background:#F6FBFE;">
  <div class="container">
    <div class="Common-FAQs">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 col-xl-10" style="margin:0 auto;">
            <div class="faq_page">
				<h1 class="text-left">Frequently Asked Questions</h1>
                <p style="text-align:left">We’ve compiled a list of frequently asked questions (and answers) for your convenience. If you don’t see the question you’re looking for, send us a message at <a style="color:#022044; font-weight: 600;"  href="mailto:hello@dogishuman.com">hello@dogishuman.com</a> and we’ll happily get back to you with an answer.</p>
  			</div>
           	 <h3 style="margin-bottom:22px;" class="text-left">Common FAQs</h3>
          <div class="single-product-we-want-question inner-product-innner-tabs  human-grade-et-colom">
             <div class="accordion-contianer-tabs-cstm-class">
                   <button class="accordion_one"> 
                   <span class="text-left">At what age can my pup start using these?</span>
                   </button>
                  <div class="panel">
                    <p>The Multivitamin is suitable for dogs of all ages and breeds. However, we do recommend dogs begin to incorporate the chews into their daily routine starting at an age of 6 months or older.</p>
                  </div>
              </div>
              <div class="accordion-contianer-tabs-cstm-class">
                   <button class="accordion_one"> 
                   <span class="text-left">What does 100% Human-Grade mean?</span>
                   </button>
                  <div class="panel">
                    <p>Most pet supplements from other brands contain palm oil, fillers, artificial flavoring, preservatives, etc. At Dog is Human, we’re raising the standards of pet health by only using the highest quality human-grade ingredients, which is what our best friends deserve.</p>
                  </div>
              </div>
              <div class="accordion-contianer-tabs-cstm-class">
                   <button class="accordion_one"> 
                   <span class="text-left">How long until I start seeing the benefits?</span>
                   </button>
                  <div class="panel">
                    <p>The benefits that most dogs feel—less itching, more activity, better mood—are just bonuses to improving their long-term health. If taken consistently on a daily basis, most dogs will start to see positive effects in about 6-8 weeks.</p>
                  </div>
              </div>
              <div class="accordion-contianer-tabs-cstm-class">
                   <button class="accordion_one"> 
                   <span class="text-left">How many chews come in a jar? </span>
                   </button>
                  <div class="panel">
                    <p>There are 60 Chews in each jar, which is a 2 month supply for Small Dogs (0-25 lbs), 1 month supply for Medium Dogs (25-75 lbs), or 3 week supply for Large Dogs (75+ lbs).</p>
                  </div>
              </div>
              <div class="accordion-contianer-tabs-cstm-class">
                   <button class="accordion_one"> 
                   <span class="text-left">What flavor is the Multivitamin? </span>
                   </button>
                  <div class="panel">
                    <p>Our Multivitamin is made with the highest quality human-grade chicken liver, a flavor that dogs absolutely love. </p>
                  </div>
              </div>
              <div class="accordion-contianer-tabs-cstm-class">
                   <button class="accordion_one"> 
                   <span class="text-left">What happens if I accidentally give my dog too many chews? </span>
                   </button>
                  <div class="panel">
                    <p>In the event that your dog accidentally consumes significantly more than the daily recommended dose, consult your vet for advice. </p>
                  </div>
              </div>
              <div class="accordion-contianer-tabs-cstm-class">
                   <button class="accordion_one"> 
                   <span class="text-left">Are the supplements allergen-free? </span>
                   </button>
                  <div class="panel">
                    <p>Our Multivitamin is allergen-free and hypoallergenic. Our formulation has no grain, corn, or soy derivatives. Furthermore, it is gluten-free, pesticide-free, and non-GMO. </p>
                  </div>
              </div>
              <div class="accordion-contianer-tabs-cstm-class">
                   <button class="accordion_one"> 
                   <span class="text-left">Can I take this multivitamin with other supplements? </span>
                   </button>
                  <div class="panel">
                    <p>Yes, our veterinary team formulated DM-01™ with natural ingredients that can be taken both alone or as a complementary product with other common and more targeted pet supplements. </p>
                  </div>
              </div>          
          </div>
        </div>
      </div>
    </div>
    <div class="Human-Grade">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 col-xl-10" style="margin:0 auto;">
            <h3 style="margin-bottom: 22px;" class="text-left">Human-Grade</h3>
          <div class="single-product-we-want-question inner-product-innner-tabs  human-grade-et-colom">
             <div class="accordion-contianer-tabs-cstm-class">
                   <button class="accordion_one"> 
                   <span class="text-left">What does 100% Human-Grade mean?</span>
                   </button>
                  <div class="panel">
                    <p>Most pet supplements from other brands contain palm oil, fillers, artificial flavoring, preservatives, etc. At Dog is Human, we’re raising the standards of pet health by only using the highest quality human-grade ingredients, which is what our best friends deserve.</p>
                  </div>
              </div>
              <div class="accordion-contianer-tabs-cstm-class">
                   <button class="accordion_one"> 
                   <span class="text-left">Why does Human-Grade matter for dogs?</span>
                   </button>
                  <div class="panel">
                    <p>As dog owners, we wouldn’t want to give our dogs anything that doesn’t meet the standards we set for ourselves. Our products not only meet the standards required by vets, but exceed those desired by medical doctors and human nutritionists.</p>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>    
    <div class="Ingredients-Production">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 col-xl-10" style="margin:0 auto;">
            <h3 style="margin-bottom: 22px;" class="text-left">Ingredients & Production:</h3>
          <div class="single-product-we-want-question inner-product-innner-tabs  human-grade-et-colom">
             <div class="accordion-contianer-tabs-cstm-class">
                   <button class="accordion_one"> 
                   <span class="text-left">Are your products formulated by veterinarians?</span>
                   </button>
                  <div class="panel">
                    <p>Our products are formulated by a combination of veterinarians, medical doctors, and human nutritionists. They are rigorously tested for quality, efficacy, and safety. Vets approve!</p>
                  </div>
              </div>
              <div class="accordion-contianer-tabs-cstm-class">
                   <button class="accordion_one"> 
                   <span class="text-left">Where in the United States are Dog is Human products produced?</span>
                   </button>
                  <div class="panel">
                    <p>We produce our products using our proprietary formulas at our factory in Vermont. Come say hi!</p>
                  </div>
              </div>
              <div class="accordion-contianer-tabs-cstm-class">
                   <button class="accordion_one"> 
                   <span class="text-left">Where can I find the ingredient list for your products?</span>
                   </button>
                  <div class="panel">
                    <p><a style="color:#022044; font-weight: 600;" href="https://dog-is-human.myshopify.com/products/multivitamin">Check here!</a></p>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>        
    <div class="Nutrition-Safety">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 col-xl-10" style="margin:0 auto;">
            <h3 style="margin-bottom: 22px;" class="text-left">Nutrition & Safety:</h3>
          <div class="single-product-we-want-question inner-product-innner-tabs  human-grade-et-colom">
             <div class="accordion-contianer-tabs-cstm-class">
                   <button class="accordion_one"> 
                   <span class="text-left">How do I know this product is safe for my dog to eat?</span>
                   </button>
                  <div class="panel">
                    <p>Our products are formulated by a combination of veterinarians, medical doctors, and human nutritionists. They are rigorously tested for quality, efficacy, and safety. Vets approve!</p>
                  </div>
              </div>
              <div class="accordion-contianer-tabs-cstm-class">
                   <button class="accordion_one"> 
                   <span class="text-left">Are Dog is Human supplements safe for humans?</span>
                   </button>
                  <div class="panel">
                    <p>They are! In fact, our founders themselves have eaten and tested every supplement we sell. Though we wouldn’t recommend the taste to humans, there’s no harm in eating them.</p>
                  </div>
              </div>
              <div class="accordion-contianer-tabs-cstm-class">
                   <button class="accordion_one"> 
                   <span class="text-left">My dog is allergic to chicken. Do you offer an alternative?</span>
                   </button>
                  <div class="panel">
                    <p>Unfortunately, at the moment all our products contain chicken. We are working on creating supplements for dogs with chicken allergies. Check back soon!</p>
                  </div>
              </div>
              <div class="accordion-contianer-tabs-cstm-class">
                   <button class="accordion_one"> 
                   <span class="text-left">What is the best method of giving a supplement to my dog?</span>
                   </button>
                  <div class="panel">
                    <p>You can give the supplement with food, water, or as a treat or reward for a trick or good behavior. </p>
                  </div>
              </div>    
              <div class="accordion-contianer-tabs-cstm-class">
                   <button class="accordion_one"> 
                   <span class="text-left">What happens if I accidentally give my dog too many chews?</span>
                   </button>
                  <div class="panel">
                    <p>In the event that your dog accidentally consumes significantly more than the daily recommended dose, consult your vet for advice. </p>
                  </div>
              </div> 
              <div class="accordion-contianer-tabs-cstm-class">
                   <button class="accordion_one"> 
                   <span class="text-left">Are the supplements allergen-free?</span>
                   </button>
                  <div class="panel">
                    <p>Our Multivitamin is allergen-free and hypoallergenic. Our formulation has no grain, corn, or soy derivatives. Furthermore, it is gluten-free, pesticide-free, and non-GMO.</p>
                  </div>
              </div>             
          </div>
        </div>
      </div>
    </div>  
    <div class="Orders-Shipping">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 col-xl-10" style="margin:0 auto;">
            <h3 style="margin-bottom: 22px;" class="text-left">Orders & Shipping:</h3>
          <div class="single-product-we-want-question inner-product-innner-tabs  human-grade-et-colom">
             <div class="accordion-contianer-tabs-cstm-class">
                   <button class="accordion_one"> 
                   <span class="text-left">Is shipping free?</span>
                   </button>
                  <div class="panel">
                    <p>Yes.</p>
                  </div>
              </div>
             <div class="accordion-contianer-tabs-cstm-class">
                   <button class="accordion_one"> 
                   <span class="text-left">How long do orders take to process?</span>
                   </button>
                  <div class="panel">
                    <p>We aim to process and ship out all orders within one business day.</p>
                  </div>
              </div>
             <div class="accordion-contianer-tabs-cstm-class">
                   <button class="accordion_one"> 
                   <span class="text-left">Where do you ship to?</span>
                   </button>
                  <div class="panel">
                    <p>We ship to any verified address in a U.S. state or territory, including P.O. boxes.</p>
                  </div>
              </div>
             <div class="accordion-contianer-tabs-cstm-class">
                   <button class="accordion_one"> 
                   <span class="text-left">Do you allow returns? What is your return policy?</span>
                   </button>
                  <div class="panel">
                    <p>Of course! If you’re not 100% satisfied with the product, just return it within 90 days and you’ll receive a refund, no questions asked. You can view our return policy here.</p>
                  </div>
              </div>
             <div class="accordion-contianer-tabs-cstm-class">
                   <button class="accordion_one"> 
                   <span class="text-left">I returned my order. When can I expect my refund?</span>
                   </button>
                  <div class="panel">
                    <p>As soon as we receive the returned item, we’ll process a refund to your method of payment. This may take up to 7-10 days depending on your bank’s policies.</p>
                  </div>
              </div>                  
          </div>
        </div>
      </div>
    </div>   
    <div class="Account-Subscription">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 col-xl-10" style="margin:0 auto;">
            <h3 style="margin-bottom: 22px;" class="text-left">Account & Subscription:</h3>
          <div class="single-product-we-want-question inner-product-innner-tabs  human-grade-et-colom">
             <div class="accordion-contianer-tabs-cstm-class">
                   <button class="accordion_one"> 
                   <span class="text-left">What is the subscription service?</span>
                   </button>
                  <div class="panel">
                    <p>We know that your dog’s health is a part of daily routine. We offer discounted monthly and bimonthly subscriptions so that you will never miss a day while also saving money.</p>
                  </div>
              </div>
             <div class="accordion-contianer-tabs-cstm-class">
                   <button class="accordion_one"> 
                   <span class="text-left">How do I modify or cancel my subscription?</span>
                   </button>
                  <div class="panel">
                    <p>You can modify or cancel your subscription at any time by navigating to the Login section on the top right of the page.</p>
                  </div>
              </div>
             <div class="accordion-contianer-tabs-cstm-class">
                   <button class="accordion_one"> 
                   <span class="text-left">I ended my subscription but am ready to resume. How can I do that?</span>
                   </button>
                  <div class="panel">
                    <p>We’re so glad to have you back! You can resume your subscription at any time by clicking on the Login section at the top right of the page.</p>
                  </div>
              </div>            
          </div>
        </div>
      </div>
    </div>  
   <div class="Jar-Packaging">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 col-xl-10" style="margin:0 auto;">
            <h3 style="margin-bottom: 22px;" class="text-left">Jar & Packaging:</h3>
          <div class="single-product-we-want-question inner-product-innner-tabs  human-grade-et-colom">
             <div class="accordion-contianer-tabs-cstm-class">
                   <button class="accordion_one"> 
                   <span class="text-left">Are the jar and packaging recyclable?</span>
                   </button>
                  <div class="panel">
                    <p>Both our jar and boxes are recyclable.</p>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>    
   </div>
</section>

<style>
  .faq_page{
     margin-bottom: 7rem;
  }
  .we-want-question-section .faq_page h1{
    font-size:4rem;
    color: #022044;
  }
    .faq_page p{
    font-family: Social-Book;
    font-size: 16px;
    color: #000;
    margin: 11px 0 30px;
    display: block;
    line-height: 20px;
}
  .Human-Grade, .Ingredients-Production, .Nutrition-Safety, .Orders-Shipping, .Account-Subscription, .Jar-Packaging{
    margin-top:60px;
  }
  
</style>   

<script>
  $(document).ready(function() {
    $(".accordion_one").on("click", function() {
      $(this).toggleClass("active");
      $(this).next().slideToggle(200);
    });
  });

</script>